
.top {
    background-color: #555555;
    height: 15px;
}

.middle {
    background-color: black;
    height: 70px;
}


.background {
    width: 687.5px;
    height: 453.5px;
    margin: auto;
    background-image: url(pokerTable.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}
.background div {
    position: absolute;
    background-image: url(koloda.png);
    width: 44px;
    height: 65.6px;
    background-repeat: no-repeat;
    background-position: 0% 100%;
}




.background .a0 {
    left: 73%;
    bottom: 5%;
}
.background .a1 {
    left: 65%;
    bottom: 5%;
}


.background .a2 {
    left: 35%;
    bottom: 5%;
}
.background .a3 {
    left: 27%;
    bottom: 5%;
}


.background .a4 {
    left: 8%;
    bottom: 12%;
}
.background .a5 {
    left: 0%;
    bottom: 12%;
}


.background .a6 {
    left: 8%;
    top: 4%;
}
.background .a7 {
    left: 0%;
    top: 4%;
}


.background .a8 {
    left: 35%;
    top: -4%;
}
.background .a9 {
    left: 27%;
    top: -4%;
}


.background .a10 {
    left: 73%;
    top: -4%;
}
.background .a11 {
    left: 65%;
    top: -4%;
}


.background .a12 {
    right: 8%;
    top: 4%;
}
.background .a13 {
    right: 0%;
    top: 4%;
}


.background .a14 {
    right: 8%;
    bottom: 12%;
}
.background .a15 {
    right: 0%;
    bottom: 12%;
}

