#screen, #waiting, #game {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.6);
}
#center {
    margin-top: 15%;
}
.form {
    margin: auto;
    margin-bottom: 1%;
}
#waiting {
    color: navy;
}
#game {
    background-color: white;
}
#table {
    background-image: url("image/table.png");
    width: 550px;
    height: 362.8px;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 5%;
    background-size: 100%;
}